.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 150px;
  height: auto;
  background-color: rgb(200, 174, 140);
  border-radius: 3px;
  font-size: xx-large;
}
button:hover {
  cursor: pointer;
}
.players-container {
  display: flex;
  justify-content:space-between;
  background-color: rgb(245, 200, 141);
}

.left-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgb(198, 198, 198)
}
.middle-scoreboard{
    display:flex;
    flex-direction: column;
    align-items: center;
    background:rgb(213, 194, 194)
}

.right-computer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(172, 160, 208);
}
.score-container{
    display:flex;
    align-items:baseline

}

.active{
    border:1px solid orange}